<div class="container mt-2 col-md">
    <div class="heading mb-2">
        <h3 class=" text-center p-2">Doctor List</h3>
    </div>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th> Doctor Id</th>
                <th> Name</th>
                <th> Age</th>
                <th> Gender </th>
                <th> Specialization</th>
                <th> Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of doctors">
                <td>{{ doctor.did}}</td>
                <td>{{ doctor.name}}</td>
                <td>{{ doctor.age}}</td>
                <td>{{ doctor.gender}}</td>
                <td>{{ doctor.specialist}}</td>
                <td>
                    <button (click)="deleteDoctor(doctor.did)" class="btn btn-danger" style="margin-left: 10px;">
                        Delete</button>
                    <button (click)="doctorDetails(doctor.did)" class="btn btn-success" style="margin-left: 10px;">
                        View</button>
                    <button (click)="updateDoctor(doctor.did)" class="btn button" style="margin-left: 10px;">
                        Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>